@{
    ViewData["Title"] = "Kubernetes Workshop Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kubernetes Workshop </h1>
    <p>Learn about <a href="https://kubernetes-workshop.education.pivotal.io/index.html">building & deploying kubernetes Apps </a>.</p>
</div>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Kubernetes</h2>

<table>
  <tr>
    <th>Topics  </th>

  </tr>
  <tr>
    <td>Operational Kubernetes</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">slides </a></td>
    <td>Lab</td>
  </tr>
     <tr>
    <td>Your First Container</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">slides </a></td>
    <td>Lab</td>
  </tr>
    <tr>
    <td>Declarative Configuration & Service</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">slides </a></td>
    <td>Lab</td>
  </tr>
    <tr>
    <td>PKS & PAS - Separate Abstractions Working in Harmony</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">Slides </a></td>
    <td>Lab</td>
  </tr>
    <tr>
    <td>PKS  - Supporting .NET workloads</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">Slides </a></td>
    <td>Lab</td>
  </tr>
    <tr>
    <td>Introducing State & External Configuration</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">Slides </a></td>
    <td>Lab</td>
  </tr>
    </tr>
    <tr>
    <td>App Operations: Scaling, Metrics, and Logs</td>
    <td><a href="https://kubernetes-workshop.education.pivotal.io/index.html">Slides </a></td>
    <td>Lab</td>
  </tr>
</table>

</body>
</html>

